<!--Add Param test-->
<div class="container">
    <h6>Create new Parameter</h6>
    <div class="card-body">
        <form [formGroup]="companyParamForm" (ngSubmit)='Ajouter()'>
            <!-- <div class="form-group">
                    <label for="Perimeter">perimeter:</label>
                    <input type="text" validate="required=true"
                    [ngClass]="{'is-invalid': (companyParamForm .get('perimeter')?.dirty || companyParamForm .get('perimeter')?.touched) && companyParamForm .get('perimeter')?.invalid }"
                    id='Perimeter' class="form-control" formControlName="perimeter">
                </div> -->
            <div class="branches">
                <div class="form-group">
                    <label for="branchID"> branchID : </label>
                    <option [(ngModel)]="getDataBranch" formControlName="branchID" ngDefaultControl>
                        {{getDataBranch}}</option>
                </div>

                <div class="form-group">
                    <label for="branchName"> branchName : </label>
                    <option [(ngModel)]="getDataBranchName" formControlName="branchName" ngDefaultControl>
                        {{getDataBranchName}}</option>
                </div>
            </div>

            <div class="form-group">
                <label for="HotelMegaCode">HotelMegaCode</label>
                <input type="text" validate="required=true" style="margin-left: 2.3rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('hotel_MegaCode')?.dirty || companyParamForm .get('hotel_MegaCode')?.touched) && companyParamForm .get('hotel_MegaCode')?.invalid }"
                    id='HotelMegaCode' class="form-control" formControlName="hotel_MegaCode">
            </div>
            <div class="form-group">
                <label for="hotel_Name">Hotel Name</label>
                <input type="text" validate="required=true" style="margin-left: 4.3rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('hotel_Name')?.dirty || companyParamForm .get('hotel_Name')?.touched) && companyParamForm .get('hotel_Name')?.invalid }"
                    id='hotel_Name' class="form-control" formControlName="hotel_Name">
            </div>
            <div class="form-group">
                <label class="form-label" for="general_manager">Genaral manager</label>
                <input type="email" validate="required:true" style="margin-left: 2.2rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('general_manager')?.dirty || companyParamForm .get('general_manager')?.touched) && companyParamForm .get('general_manager')?.invalid }"
                    id='GeneralManager' class="form-control" formControlName="general_manager">
            </div>
            <div class="form-group">
                <label for="firstName_gm">GM firstName</label>
                <input type="email" validate="required:true" style="margin-left: 3.7rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('firstName_gm')?.dirty || companyParamForm .get('firstName_gm')?.touched) && companyParamForm .get('firstName_gm')?.invalid }"
                    id='firstName_gm' class="form-control" formControlName="firstName_gm">
            </div>
            <div class="form-group">
                <label for="lastName_gm">GM lastName</label>
                <input type="email" validate="required:true" style="margin-left: 3.7rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('lastName_gm')?.dirty || companyParamForm .get('lastName_gm')?.touched) && companyParamForm .get('lastName_gm')?.invalid }"
                    id='lastName_gm' class="form-control" formControlName="lastName_gm">
            </div>
            <div class="form-group">
                <label class="form-label" for="email_m_gm">Genaral manager N+1</label>
                <input type="email" validate="required:true"
                    [ngClass]="{'is-invalid': (companyParamForm .get('email_m_gm')?.dirty || companyParamForm .get('email_m_gm')?.touched) && companyParamForm .get('email_m_gm')?.invalid }"
                    id='GeneralManager' class="form-control" formControlName="email_m_gm">
            </div>
            <div class="form-group">
                <label for="firstName_m_gm">GM firstName</label>
                <input type="email" validate="required=true" style="margin-left: 3.7rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('firstName_m_gm')?.dirty || companyParamForm .get('firstName_m_gm')?.touched) && companyParamForm .get('firstName_m_gm')?.invalid }"
                    id='firstName_m_gm' class="form-control" formControlName="firstName_m_gm">
            </div>
            <div class="form-group">
                <label for="lastName_m_gm">GM lastName</label>
                <input type="email" validate="required=true" style="margin-left: 3.7rem;"
                    [ngClass]="{'is-invalid': (companyParamForm .get('lastName_m_gm')?.dirty || companyParamForm .get('lastName_m_gm')?.touched) && companyParamForm .get('lastName_m_gm')?.invalid }"
                    id='lastName_m_gm' class="form-control" formControlName="lastName_m_gm">
            </div>
            <!-- <div class="form-group">
                <label for="branch">branch:</label>
                <input type="text" id='branch' class="form-control" formControlName="branch">
              </div> -->
            <!-- <select>
                <option *ngFor="let test of rolesParam, let i = index" value="{{test.rolesParam}}" selected="i == 0">
                    {{test.rolesParam}}
                </option>
            </select> -->
            <div class="save">
                <button type="submit" class="btn-Save" [disabled]="companyParamForm.invalid">Save</button>
            </div>
        </form>
    </div>
</div>