h6{
    margin: 1rem;
}
.card-body{
    .branches{
        display: flex;
    }
    .form-group{    
        display: flex;
        align-items: center;
        label{
            margin: 1rem;
        }
    }
    .save{
        direction: rtl;
        .btn-Save{
            border:none;
            border-radius: 5%;
            width: 6rem;
            background-color: #B9E9A2;
            margin: 2rem;
        }
    }
}

input{
    width: 70%;
    direction: rtl;

}