<div class="container login my-4">
  <div class="row">
    <div class="col-md-10 col-sm-12 offset-md-1 offset-sm-0">
      <div class="card" *ngIf="!success && !keyMissing">
        <h1 class="text-center">Réinitialiser du mot de passe</h1>
        <div class="card-body">
          <form (ngSubmit)="finishReset()" [formGroup]="passwordForm!">

            <div class="inputs">
              <div class="form-group col-md-8">
                <div class="form-outline">
                  <label class="form-label" for="password">Nouveau mot de passe</label>
                  <input type="password" class="form-control" id="password" name="password"
                         [ngClass]="{'is-invalid': passwordForm?.get('newPassword')?.invalid && (passwordForm?.get('newPassword')?.dirty || passwordForm?.get('newPassword')?.touched) }"
                         formControlName="newPassword">
                  <div *ngIf="passwordForm?.get('newPassword')?.invalid && (passwordForm?.get('newPassword')?.dirty || passwordForm?.get('newPassword')?.touched)">
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('newPassword')?.errors!['required']">
                      Your password is required.
                    </p>
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('newPassword')?.errors!['minlength']">
                      Your password is required to be at least 4 characters.
                    </p>
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('newPassword')?.errors!['maxlength']">
                      Your password cannot be longer than 50 characters.
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-8">
                <div class="form-outline">
                  <label class="form-label" for="confirmPassword">Confirmation mot de passe</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                         [ngClass]="{'is-invalid': passwordForm?.get('confirmPassword')?.invalid && (passwordForm?.get('confirmPassword')?.dirty || passwordForm?.get('confirmPassword')?.touched) }"
                         formControlName="confirmPassword">
                  <div *ngIf="passwordForm?.get('confirmPassword')?.invalid && (passwordForm?.get('confirmPassword')?.dirty || passwordForm?.get('confirmPassword')?.touched)">
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('confirmPassword')?.errors!['required']">
                      Your password confirmation is required.
                    </p>
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('confirmPassword')?.errors!['minlength']">
                      Your password confirmation is required to be at least 4 characters.
                    </p>
                    <p class="validation-error"
                       *ngIf="passwordForm?.get('confirmPassword')?.errors!['maxlength']">
                      Your password confirmation cannot be longer than 50 characters.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <button type="button" class="btn btn-secondary col-md-2" (click)="login()">Connectez-vous</button>
              <button [disabled]="passwordForm?.invalid" class="btn btn-primary col-md-2" type="submit">Réinitialiser</button>
            </div>
          </form>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="keyMissing">
        <strong>The password reset key is missing.</strong>
      </div>

      <div class="alert alert-info" *ngIf="!success && !keyMissing && !error">
        <p>Choose a new password</p>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <p>Votre mot de passe a déjà été réinitialisé. Veuillez-vous connecter.</p>
      </div>

      <p class="alert alert-success" *ngIf="success">
        <span><strong>Your password has been reset.</strong> Please </span>
        <a class="alert-link" (click)="login()">sign in</a>.
      </p>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        The password and its confirmation do not match!
      </div>
    </div>
  </div>
</div>









<!--<div class="login-component width-standard">-->
<!--    <form [formGroup]="passwordForm!" name="passwordForm" novalidate role="form">-->
<!--        <div class="card shadow form-multi-step-container mb-4" *ngIf="!success && !keyMissing">-->
<!--            <label>Réinitialiser du mot de passe</label>-->
<!--            <div class="body-tab">-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="password">Nouveau mot de passe</label>-->
<!--                    <input autocomplete="off" type="password" class="form-control" id="password" name="password"-->
<!--                           placeholder="Enter new password"-->
<!--                           formControlName="newPassword">-->
<!--                    <div *ngIf="passwordForm?.get('newPassword')?.invalid && (passwordForm?.get('newPassword')?.dirty || passwordForm?.get('newPassword')?.touched)">-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('newPassword')?.errors!['required']">-->
<!--                            Your password is required.-->
<!--                        </p>-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('newPassword')?.errors!['minlength']">-->
<!--                            Your password is required to be at least 4 characters.-->
<!--                        </p>-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('newPassword')?.errors!['maxlength']">-->
<!--                            Your password cannot be longer than 50 characters.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>-->
<!--                    <input autocomplete="off" type="password" class="form-control" id="confirmPassword" name="confirmPassword"-->
<!--                           placeholder="Enter password confirmation"-->
<!--                           formControlName="confirmPassword">-->
<!--                    <div *ngIf="passwordForm?.get('confirmPassword')?.invalid && (passwordForm?.get('confirmPassword')?.dirty || passwordForm?.get('confirmPassword')?.touched)">-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('confirmPassword')?.errors!['required']">-->
<!--                            Your password confirmation is required.-->
<!--                        </p>-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('confirmPassword')?.errors!['minlength']">-->
<!--                            Your password confirmation is required to be at least 4 characters.-->
<!--                        </p>-->
<!--                        <p class="validation-error"-->
<!--                               *ngIf="passwordForm?.get('confirmPassword')?.errors!['maxlength']">-->
<!--                            Your password confirmation cannot be longer than 50 characters.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--                <button type="button" class="btn btn-secondary" (click)="login()">-->
<!--                  <span>Connectez-vous</span>-->
<!--                </button>-->
<!--                <button (click)="finishReset()" type="submit" class="btn btn-primary">-->
<!--                  <span>Réinitialiser</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="alert alert-danger" *ngIf="keyMissing">-->
<!--            <strong>The password reset key is missing.</strong>-->
<!--        </div>-->

<!--        <div class="alert alert-info" *ngIf="!success && !keyMissing && !error">-->
<!--            <p>Choose a new password</p>-->
<!--        </div>-->

<!--        <div class="alert alert-danger" *ngIf="error">-->
<!--            <p>Votre mot de passe a déjà été réinitialisé. Veuillez-vous connecter.</p>-->
<!--        </div>-->

<!--        <p class="alert alert-success" *ngIf="success">-->
<!--            <span><strong>Your password has been reset.</strong> Please </span>-->
<!--            <a class="alert-link" (click)="login()">sign in</a>.-->
<!--        </p>-->

<!--        <div class="alert alert-danger" *ngIf="doNotMatch">-->
<!--            The password and its confirmation do not match!-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
