<div class="form-group col-md-8" id="searchBar">
    <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)"
        placeholder="rechercher">
    <img type="button" class="cursor-pointer" src="">
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Branch </th>
        <th scope="col">Home </th>
        <th scope="col">Email </th>
        <th scope="col">FirstName </th>
        <th scope="col">LastName </th>
        <th scope="col">State </th>
        <th scope="col">Manager </th>
        <th scope="col">Approval limit </th>
        <th scope="col">User type </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of jsonData | filter: searchKey:'FIRST_NAME'">
        <th>{{data.BRANCH_ID}}</th>
        <td>{{data.HOME}}</td>
        <td>{{data.EMAIL}}</td>
        <td>{{data.FIRST_NAME}}</td>
        <td>{{data.LAST_NAME}}</td>
        <td>{{data.STATE}}</td>
        <td>{{data.MANAGER}}</td>
        <td>{{data.APPROVAL_LIMIT}}</td>
        <td>{{data.USER_TYPE}}</td>
      </tr>
    </tbody>
  </table>
  
  <button (click)="fileDownload()"> Download </button>
  