<div class="container">
    <div class="btns">
        <button class="btnBack" [routerLink]="'UserList'"> Back </button>
        <!-- <button (click)="openForm()" class="btn" style="margin-left: 10px;">Add HOD</button>
            <button [routerLink]="['/signup']" class="btn" style="margin-left: 10px;">Add GM</button> -->
    </div>

    
    <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)='Ajouter()'>

            <div class="form-group">
                <label for="companyParameter">Megacode {{companie?.megaCode}}</label>
                <option formControlName="companyParameter" [ngValue]="companie?.megaCode" ngDefaultControl>
                    </option>
            </div>
            <div class="form-group">
                <label for="firstName">firstName*</label>
                <input type="text" validate="required=true"
                    [ngClass]="{'is-invalid': (userForm .get('firstName')?.dirty || userForm .get('firstName')?.touched) && userForm .get('firstName')?.invalid }"
                    id='firstName' class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">lastName*</label>
                <input type="text" validate="required=true"
                    [ngClass]="{'is-invalid': (userForm .get('lastName')?.dirty || userForm .get('lastName')?.touched) && userForm .get('lastName')?.invalid }"
                    id='lastName' class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="mail">email*</label>
                <input type="mail" validate="required=true" style="width: 92%; margin-left: 1.6rem;"
                    [ngClass]="{'is-invalid': (userForm .get('mail')?.dirty || userForm .get('mail')?.touched) && userForm .get('mail')?.invalid }"
                    id='mail' class="form-control" formControlName="mail">
            </div>
            <div class="save">
                <button type="submit" class="btn-Save" [disabled]="userForm.invalid">Save</button>
            </div>
        </form>
    </div>