<div class="container col-md-6">
    <div class="card row">
        <div class="card-header">
            <h3>Add User</h3>
        </div>
        <!-- <div class="btns">
            <button (click)="openForm()" class="btn" style="margin-left: 10px;">Add HOD</button>
            <button [routerLink]="['/signup']" class="btn" style="margin-left: 10px;">Add GM</button>
        </div> -->
        
        <div class="card-body">
<!-- [ngStyle]="{'display':displayStyle}" -->
            <form  [formGroup]="userForm" (ngSubmit)='Ajouter()'>
                <!--TODO: Checkbox qui permettrai de cocher la case (qui retournera True (valeur à injecter dans pour la valeur Home pour la generation du CSV )) si premier ajout de cet utilisateur (par defaut primary branch) -->
              
                <div class="form-group"  >
                    <select [(ngModel)]="selectedCompanies" name="ValueCheck" (change)="ValueChange($event)" formControlName="selectCompany">
                        <option disabled>Select hotel</option>
                        <option *ngFor="let data of parameters" [ngValue]="data.hotel_MegaCode" [selected]="data.hotel_MegaCode"  >
                            {{data?.hotel_MegaCode}}</option>
                    </select>
                </div>
              

                <div class="form-group" >
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="primaryBranch" id="primaryBranch">
                    <label for="primaryBranch">primarybranch</label>
                    </div>
                    <!-- <div class="form-group" >
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="type" id="type">
                        <label for="type">General Manager</label>

                        <div *ngIf="this.userForm.value.type == true">
                            <label for="password">password :</label>
                            <input 
                            validate="required=true"
                             [ngClass]="{'is-invalid': (userForm .get('password')?.dirty || userForm .get('password')?.touched) && userForm .get('password')?.invalid }"
                            class="form-control" 
                            formControlName="password" id="password">
                            </div>
                        </div>
                    </div> -->
                </div>
                

                <div class="form-group">
                    <label for="firstName">firstName:</label>
                    <input type="text" validate="required=true"
                        [ngClass]="{'is-invalid': (userForm .get('firstName')?.dirty || userForm .get('firstName')?.touched) && userForm .get('firstName')?.invalid }"
                        id='firstName' class="form-control" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">lastName:</label>
                    <input type="text" validate="required=true"
                        [ngClass]="{'is-invalid': (userForm .get('lastName')?.dirty || userForm .get('lastName')?.touched) && userForm .get('lastName')?.invalid }"
                        id='lastName' class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" validate="required=true"
                        [ngClass]="{'is-invalid': (userForm .get('email')?.dirty || userForm .get('email')?.touched) && userForm .get('email')?.invalid }"
                        id='email' class="form-control" formControlName="email">
                </div>
                <!-- <div class="dropdown" >
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Cost Center
                  </button>
                  <div class="dropdown-menu" *ngFor = "let data of tabUser" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" formControlName="costCenters">{{data.costCenters}}</a>
                  </div>
                </div> -->
                <button type="submit" class="btn btn-danger" [disabled]="userForm.invalid">Add</button>
            </form>
        </div>
    </div>




 