<div class="form-group col-md-8" id="searchBar">
  <div class="btn_searchbar">
    <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="rechercher">
    <img type="button" class="cursor-pointer" src="">
    <div class="container">
      <button (click)="NewCompany()" class="btn add_Btn">Add Company</button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <!-- les noms à modifier  (avec ceux de accor)! avec Alice  -->
      <th scope="col">HotelMegaCode </th>
      <th scope="col">Hotel name </th>
      <th scope="col">Users list</th>
    </tr>
  </thead>
  <tbody class="data">
    <tr *ngFor="let data of companies | filter: searchKey:'hotel_MegaCode'">
      <td>{{data.hotel_MegaCode}}</td>
      <td>{{data.hotel_Name}}</td>
      <td>{{data.users}}</td>
      <td><button [routerLink]="['/editCompany', data.hotel_MegaCode]" class="btn btn-edit"
          style="margin-left: 10px;">Edit</button></td>
      <td><button (click)="remove(data.hotel_MegaCode)" class="btn btn-delete"
          style="margin-left: 10px;">Delete</button></td>
    </tr>
  </tbody>
</table>