<div class="container">
  <div>
    <H6 style="margin-top: 3rem;">After modifications, it is possible to have inconsistencies with cost center and their users. <br>
      Please find below the list of all users without cost center that will be inactive.
    </H6>
    <H6 style="text-decoration: underline; margin-top: 1rem;">
      Reminder: one cost center must have one assigned user, one user must have at least one cost center.
    </H6>
  </div>

  <table class="table" style="margin-top: 3rem;">
    <thead class="thead-dark" style="background-color: black; color: white">
      <tr>
        <th scope="col">Cost center</th>
        <th scope="col">Cost center name</th>
        <th scope="col">Email </th>
        <!-- <th scope="col">{{'HEADER.FIRSTNAME' | translate}}</th>
        <th scope="col">{{'HEADER.LASTNAME' | translate}}</th> -->
      </tr>
    </thead>
    <tbody class="data" *ngFor="let data of costcenters" style="background-color: #C5C5C5;">
      <tr *ngIf="data?.owner == null">
        <th>{{data?.code}}</th>
        <th>{{data?.label}}</th>
        <td *ngIf="data?.owner == null" style="color:#8F1D1D;">ERROR</td>
        <!-- <th>{{data?.firstName}}</th>
        <th>{{data?.lastName}}</th> -->
      </tr>
    </tbody>
  </table>
</div>