
.contenue{
    margin-top: 1.5rem;
}
.container-fluid{
    display: flex;
    .contenue{
        width: 60%;
    }
    .listeDeroulante{ 
        margin: auto;
        width: 40%;

        .part2{
            .ngForm{
                display: flex;
                justify-content: center;
            }
        }
    }
}