<div class="container-fluid">
    <div>
        <p>The app will allow you, as a GM, to manage the different Tradeshift users of your hotel and the cost centre
            attribution between them and you.

            We remind you that the composition of the workflow is the following: </p>
        <div><img src="../../assets/CompositonWorkflow.png" style="width:450px;height:225px;">
        </div>

        <form class="ngForm" (ngSubmit)="save(data)">
            <select [(ngModel)]="selectedCompanies" name="ValueCheck" (change)="ValueChange($event)">
                <option disabled>Select hotel</option>
                <option *ngFor="let data of companies" [ngValue]="data.hotel_MegaCode" [selected]="data.hotel_MegaCode" >
                    {{data?.hotel_MegaCode}}</option>
            </select>
            <button type="submit"> save</button>
        </form>

        <!-- <input type="radio" *ngFor="let data of companies" [ngValue]="data.hotel_MegaCode" [selected]="data.hotel_MegaCode">{{data.hotel_MegaCode}}</input> -->
        <!-- 
        <div *ngFor="let data of companies; let i = index">
            <div class="radio">
                <input type="radio" id="{{data.hotel_MegaCode}}" name="radio" [(ngModel)]="data.hotel_MegaCode">
                <label for="{{data.hotel_MegaCode}}">{{data.hotel_MegaCode}}</label>
            </div>
        </div>

        <h2>Values for options</h2>

        <ul>
            <ng-container *ngFor="let user of companies; let index = index; let data of companies">

                <li *ngIf="  user.general_manager !== '' "> users of companie {{data.hotel_MegaCode}}:
                    {{user.general_manager}}</li>
            </ng-container>
        </ul>
    </div> -->


        <!-- <div class="test">
            <h2>{{radioTitle}}</h2>
            <label *ngFor="let data of companies; let i= index">
                <input type="radio" name="options" [checked]="data.hotel_MegaCode">{{data.hotel_MegaCode}}
            </label>
            <p>
                Selected option: {{companies.hotel_MegaCode}}
            </p>

        </div>
    </div> -->


        <!-- <form #test="ngForm" (ngSubmit)="save(test)"> -->
        <!-- <select [(ngModel)]="companies" name="ValueCheck" (change)="ValueChange($event)"> -->
        <!-- <div class="form-group"></div>
       <label>companies</label>
       <div class="form-control" *ngFor="let data of companies">
        <label for="data.hotel_MegaCode">
            <input type="radio" name="data.hotel_MegaCode">
            {{data.hotel_MegaCode}}
        </label>
       </div>
       <button type="submit">Save</button>
    </form>  -->