<!-- Vu General Manager -->
<div class="container-fluid">

    <div class="contenue">
        <h5>{{'TITLE' | translate}}</h5>

        <div>{{'DESCRIPTION' | translate}}</div>
        <div>
            <img src="../../assets/CompositonWorkflow.png" style="width:450px;height:225px;">
        </div>

        <h6>{{'CONDITIONS.TITLE2' | translate}}</h6>
        <div>
            <ul>
                <li>{{'CONDITIONS.RULE1' | translate}}</li>
                <li>{{'CONDITIONS.RULE2' | translate}}</li>
                <li>{{'CONDITIONS.RULE3' | translate}}</li>
            </ul>

        </div>
    </div>
    <div class="listeDeroulante">
        <select [(ngModel)]="selectedCompanie">
            <option [ngValue]="null" disabled>{{'SELECTHOTEL' | translate}}</option>
            <option *ngFor="let compagnie of companies" [ngValue]="compagnie">
                {{compagnie.megaCode}} - {{compagnie.name}}
            </option>
        </select>

        <button [disabled]="!selectedCompanie" [routerLink]="['/compagny-param', selectedCompanie?.id]"> Go</button>
    </div>
</div>


<!-- Vu Company Admin -->

<div class="container-fluid">
    <div class="contenue">
        <h5>{{'TITLE' | translate}}</h5>

        <div>{{'DESCRIPTION' | translate}}</div>
    </div>
    <div class="listeDeroulante">
        <select [(ngModel)]="selectedBranch">
            <option [ngValue]="null" disabled>{{'SELECTBRANCH' | translate}}</option>
            <option *ngFor="let branche of branches" [ngValue]="branche">
                {{branche.code}} - {{branche.name}}
            </option>
        </select>

        <button [disabled]="!selectedBranch" [routerLink]="['/Parameter', selectedBranch?.id]"> Go</button>
    </div>
</div>
