
.form-group{
    display: flex;
    padding-bottom: 0.5rem;
    .form-control{
        width: 70%;
        margin-left: 1rem
    }
}
.back{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    .btnBack{
        background-color:#E9C4A2;
        border: none;
    }
}
.save{
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
    .btn{
        background-color: #B9E9A2;
    }
}