.save{
    display: flex;
    justify-content: flex-end;
    .btn-Save{
        border: none;
        border-radius: 5%;
        width: 6rem;
        background-color: #B9E9A2;
        margin: 2rem;
    }
}