.navbar{
    background-color:#002740 ;
    .container-fluid{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-start;
      
        .nav-link{
            color: white;
        }

        .active-link{
            color: #F0AB29;
            // text-decoration-line: underline;
       
        }
    }
    .logo{
        img{            
            width: auto;
            height: 1.3rem; 
            margin-right: 2rem;
        }
    }
}