<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="nav-link active" [routerLink]="'Home'" aria-current="page">Home</a>
      <a class="nav-link active" [routerLink]="'/'" aria-current="page">Profile</a>
      <a class="nav-link active" [routerLink]="'/'" aria-current="page">List of users</a>
      <a class="nav-link active" [routerLink]="'/'" aria-current="page">List of hotels</a>
      <a class="nav-link active" [routerLink]="'/'" aria-current="page">Cost Center</a>
    </div>