<div class="form-group col-md-8 " id="searchBar">
  <div>Megacode {{getDataHmc}} - Hotel name {{getDataHn}}</div> 
  <div class="btn_searchbar">
    <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="rechercher">
    <img type="button" class="cursor-pointer" src="">
  </div>
</div>

<table class="table" [ngStyle]="{'display':tableStyle}">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dispatcher</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="data" [formGroup]="userForm"*ngFor="let data of tabUser | filter: searchKey:'name'">
    <tr *ngIf="getDataHmc == data.selectCompany && roleName == 'ROLE_GM' ">
      <th scope="row" #myNameElem><input type="radio" id="radioCheck" name="dispatcher" value="data.id"
        (click)="save(data);testDisp(data);csv(data)" attr.aria-checked="{{dispatcher}}">
      </th> 
      <th scope="row">{{data.firstName}}</th>
      <th >{{data.lastName}}</th>
      <td>{{data.username}}</td>
      <td> <button [routerLink]="['/edit', data.id]" class="btn btn-edit" style="margin-left: 10px;">Edit</button>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <button (click)="NewUser()" class="btn add_Btn">Add User</button>
  </div>

<table class="table" [ngStyle]="{'display':tableStyle}">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Dispatcher</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email </th>
      <th></th>
      <th></th>
    </tr>
</thead>
    <tbody class="data" [formGroup]="userForm"*ngFor="let data of tabUser | filter: searchKey:'name'">
      <tr *ngIf="getDataHmc == data.selectCompany && role.name == undefined">
        <th scope="row" #myNameElem><input type="radio" id="radioCheck" name="dispatcher" value="data.id"
            (click)="save(data);testDisp(data);csv(data)" attr.aria-checked="{{dispatcher}}">
        </th>
        <th scope="row">{{data.firstName}}</th>
        <th >{{data.lastName}}</th>
        <td>{{data.username}}</td>
        <td> <button [routerLink]="['/edit', data.id]" class="btn btn-edit" style="margin-left: 10px;">Edit</button>
        </td>
        <!-- <td> <button [disabled]="dispatcher == false" (click)="remove(data.id); csvdelete(data)"
              class="btn btn-delete" style="margin-left: 10px;">Delete</button> </td> -->
        <td><button (click)="openPopup(data)" class="btn btn-delete" style="margin-left: 10px;">Delete</button></td>
        </tr>
    </tbody>
</table>

<div class="popup1" [ngStyle]="{'display':displayStyle}">
  <p class="popup">If you need to temporarily delete a user, we advise you use the delegation rule option within
    Tradeshift (holiday, maternity leave, sick leave) to temporarily delegate tasks to another colleague.</p>
  <!-- <button (click)="remove(data.id); csvdelete(data)" class="btn btn-delete" style="margin-left: 10px;">Yes I confirm,
  and I want to delete the user</button> -->
  <button id="x" class="btn btn-delete" (click)="openPopup2()" style="margin-left: 10px;">Continue with
    deletion</button>
  <button (click)="back()" class="btn btn-info" style="margin-left: 10px;">Cancel</button>
</div>
<div class="popup2" [ngStyle]="{'display':displayStyle2}">
  <p class="popup">Can you confirm there are not more pending tasks in the task manager for this user?  If no, please
    reassign the pending tasks before deleting the user.</p>
  <button (click)="back()" class="btn btn-info" style="margin-left: 10px;">Cancel</button>
</div>

