<div class="form-group col-md-8 " id="searchBar">
  <div>Megacode {{companie?.megaCode}} - Hotel name {{companie?.name}}</div>
  <div class="btn_searchbar">
    <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="rechercher">
    <img type="button" class="cursor-pointer" src="">
  </div>
</div>

<div class="tables">
<table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dispatcher</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email </th>
      <th></th>
    </tr>
  </thead>
  <tbody class="data" [formGroup]="userForm">
    <tr>
      <th scope="row"><input type="radio" id="radioCheck" name="dispatcher"
                             [value]="tabUserGM?.username === companie?.dispacherMail"
                             [checked]="tabUserGM?.username === companie?.dispacherMail"
                             [disabled]="isLoading"
                             (click)="updateDispacher(tabUserGM?.username!)" >
      </th>
      <th scope="row">{{tabUserGM?.firstName}}</th>
      <th>{{tabUserGM?.lastName}}</th>
      <td>{{tabUserGM?.username}}</td>
      <td> <button [routerLink]="['/edit', tabUserGM?.id]" class="btn btn-edit" style="margin-left: 10px;">Edit</button>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <button (click)="NewUser()" class="btn add_Btn">Add User</button>
  </div>

<table class="table" *ngIf="staffs">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Dispatcher</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email </th>
      <th></th>
      <th></th>
    </tr>
</thead>
    <tbody class="data" [formGroup]="userForm" *ngFor="let data of staffs | filter: searchKey:'firstName'">
      <tr>
        <th scope="row">
          <input type="radio" id="radioCheck" name="dispatcher"
                 [value]="data?.mail === companie?.dispacherMail"
                 [checked]="data?.mail === companie?.dispacherMail"
                 [disabled]="isLoading"
                 (click)="updateDispacher(data?.mail!)">
        </th>
        <th scope="row">{{data?.firstName}}</th>
        <th >{{data?.lastName}}</th>
        <td>{{data?.mail}}</td>
        <td> <button [routerLink]="['/staff', data?.id, 'edit']" class="btn btn-edit" style="margin-left: 10px;">Edit</button>
        </td>
        <td><button (click)="deleteStaff(data?.id)" class="btn btn-delete" style="margin-left: 10px;">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>

