<div class="container">
    <div class="btns">
        <button class="btnBack" (click)="back()">Back</button>
    </div>

    <div class="card-body">
        <form [formGroup]="staffForm" (ngSubmit)='Update()'>
          <input type="text" class="form-control" formControlName="id" hidden>

            <div class="form-group">
                <label for="firstName">{{'HEADER.FIRSTNAME' | translate}}:</label>
                <input classe="input" type="text" id='firstName' class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">{{'HEADER.LASTNAME' | translate}}:</label>
                <input classe="input" type="text" id='lastName' class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input  type="mail" id='mail' class="form-control" formControlName="mail"
                    style="width: 92%; margin-left: 2.2rem;">
            </div>
            <div class="save">
                <button type="submit" class="btn-Save" [disabled]="staffForm.invalid">{{this.staff?.id ? 'edit' : 'add'}}</button>
            </div>
        </form>
    </div>
</div>
