.navbar {
  background-color: #002740;

  .container-fluid {
    margin-left: 20px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start;

    a {
      margin-right: 40px;
      font-size: larger;
    }

    .nav-link {
      color: white;
      cursor: pointer;

    }

    .active-link {
      color: #F0AB29;
      // text-decoration-line: underline;

    }
  }

  .logo {
    img {
      width: auto;
      height: 1.3rem;
      margin-right: 2rem;
    }
  }

  select {
    margin-right: 3rem;
    background-color: #002740;
    color: white;
    border: none;
  }
}
