<nav class="navbar navbar-expand-lg">
  <div class="container-fluid ">
    <a class="nav-link " [routerLink]="'Home'" routerLinkActive="active-link" aria-current="page">Home</a>
    <!-- <a class="nav-link " [routerLink]="'branchs'" routerLinkActive="active-link" aria-current="page">Branch</a> -->
    <a class="nav-link " [routerLink]="'UserList'" routerLinkActive="active-link" aria-current="page">List of users</a>
    <!-- <a class="nav-link " [routerLink]="'companies'" routerLinkActive="active-link" aria-current="page">List of hotels</a> -->
    <!-- <a class="nav-link " [routerLink]="'listCostCenter'" routerLinkActive="active-link" aria-current="page">Cost Center</a> -->
    <a class="nav-link " [routerLink]="'Parameter'" routerLinkActive="active-link" aria-current="page">Parameter</a>
    <a class="nav-link" (click)="onClickLogout()">Se déconnecter</a>
  </div>
  Change Language : <select #selLang (change)="translateLanguageTo(selLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
  </select>
  <div class="logo">
   <img id="logo_Invoicing" class="" src="../../assets/Logo_Invoicing.png">
  </div>

</nav>
