
<div class="form-group col-md-8" id="searchBar">
  <div class="btn_searchbar">
    <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="{{'BUTTONS.SEARCH' | translate}}">
    <div class="container">
      <button (click)="NewParam()" class="btn add_Btn">{{'BUTTONS.ADDPARAMETER' | translate}}</button>
    </div>
  </div>
</div>

<div class="brancheName" >
 Branche {{branche?.code}} - {{'BRANCHNAME' | translate}} {{branche?.name}}
</div>

<div style="margin: auto; width: 90%;">
<table class="table" >
  <thead class="thead-dark">
    <!-- les noms à modifier  (avec ceux de accor)! avec Alice  -->
    <tr>
      <th scope="col">HotelMegaCode </th>
      <th scope="col">General manager</th>
      <th scope="col">General manager N+1</th>
      <th scope="col">General manager N+2</th>
      <th></th>
      <th></th>
      <!-- <th scope="col">GM </th>
        <th scope="col">Portfolio </th>
        <th scope="col">gm line manager </th>
        <th scope="col">N+1 Line manager </th> -->
    </tr>
  </thead>
  <tbody class="data"  *ngFor="let param of parameters | filter: searchKey:'hotel_MegaCode'">
    <tr >
      <td>{{param.hotel_MegaCode}}</td>
      <td>{{param.general_manager}}</td>
      <td>{{param.email_m_gm}}</td>
      <td>{{param.mm_gm}}</td>
      <!--<td>{{param.portfolio}}</td>
      <td>{{param.mmm_gm}}</td>-->
      <td><button [routerLink]="['/editParameter', param.id]" class="btn btn-edit"
          style="margin-left: 10px;">{{'BUTTONS.EDIT' | translate}}</button></td>
      <td><button (click)="remove(param.id)" class="btn btn-delete" style="margin-left: 10px;">{{'BUTTONS.DELETE' | translate}}</button></td>
    </tr>
  </tbody>
</table>
</div>
