<div class="container">

  <br>
  MegaCode {{company?.megaCode}} - Hotel Name {{company?.name}}



  <div class="form-group col-md-8" id="searchBar">
    <div class="btn_searchbar">
      <input class="form-control" style="margin-right: 15rem;" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)"
        placeholder="{{'BUTTONS.SEARCH' | translate}} Code">
        <div class="container2">
          <button [routerLink]="'add'" class="btn add_Btn" style="background-color: #9BE69F">Create/Add</button>
        </div>
    </div>
  </div>

  <table class="table" style="margin-top: 3rem;">
    <thead class="thead-dark" style="background-color: black; color: white">
      <tr>
        <th scope="col">Cost center</th>
        <th scope="col">Cost center name</th>
        <th scope="col">Email </th>
        <!-- <th scope="col">{{'HEADER.FIRSTNAME' | translate}}</th>
          <th scope="col">{{'HEADER.LASTNAME' | translate}}</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody class="data" *ngFor="let data of costcenters | filter: searchKey: 'label' " style="background-color: #C5C5C5;">
      <tr>
        <th>{{data.code}}</th>
        <th>{{data.label}}</th>
        <th *ngIf="data?.owner != null">{{data?.owner}}</th>
        <th *ngIf="data?.owner == null">{{data?.company?.userGM?.username}}</th>

        <!-- <th>{{data?.firstName}}</th>
          <th>{{data?.lastName}}</th> -->
        <td><button [routerLink]="['edit', data?.id]" class="btn btn-edit" style="margin-left: 10px;">{{'BUTTONS.EDIT' |
            translate}}</button></td>
      </tr>
    </tbody>
  </table>
</div>