<div class="container">
    <table class="table" style="margin-top: 3rem;">
      <thead class="thead-dark" style="background-color: black; color: white">
        <tr>
          <th scope="col">Cost center</th>
          <th scope="col">Cost center name</th>
          <th scope="col">Email </th>
          <!-- <th scope="col">{{'HEADER.FIRSTNAME' | translate}}</th>
          <th scope="col">{{'HEADER.LASTNAME' | translate}}</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody class="data" *ngFor="let data of costcenters" style="background-color: #C5C5C5;">
        <tr>
          <th>{{data?.code}}</th>
          <th>{{data?.label}}</th>
          <th *ngIf="data?.owner != null" >{{data?.owner}}</th>
          <td *ngIf="data?.owner == null" style="color:#8F1D1D;">ERROR</td>
          <!-- <th>{{data?.firstName}}</th>
          <th>{{data?.lastName}}</th> -->
          <td><button [routerLink]="['edit', data?.id]" class="btn btn-edit"
            style="margin-left: 10px;">{{'BUTTONS.EDIT' | translate}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>