<div class="form-group col-md-8" id="searchBar">
    <div class="btn_searchbar">
      <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="rechercher">
      <img type="button" class="cursor-pointer" src="">
      <div class="container">
        <button (click)="NewCostCenter()" class="btn add_Btn">Add Cost Center</button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">megaCode CostCenter ID </th>
        <th scope="col">megaCode CostCenter Label </th>
        <th scope="col">owner costCenter email</th>
      </tr>
    </thead>
    <tbody class="data">
      <tr *ngFor="let data of costCenters | filter: searchKey:'hotel_MegaCode'">
        <td>{{data.megaCode_CostCenter_ID}}</td>
        <td>{{data.megaCode_CostCenter_Label}}</td>
        <td>{{data.owner_costCenter_email}}</td>
        <td><button [routerLink]="['/editCC', data.megaCode_CostCenter_ID]" class="btn btn-edit"
            style="margin-left: 10px;">Edit</button></td>
        <td><button (click)="remove(data.megaCode_CostCenter_ID)" class="btn btn-delete"
            style="margin-left: 10px;">Delete</button></td>
      </tr>
    </tbody>
  </table>