<div class="card">
  <div class="card-body">
    <h5 *ngIf="this.branch?.id"> {{'BUTTONS.EDIT_BRANCH' | translate}}</h5>
    <h5 *ngIf="this.branch?.id == null">{{'BUTTONS.ADDBRANCH' | translate}}</h5>
    <div class="details">
      <p>Branch details</p>
    </div>
    <form [formGroup]="branchForm" (ngSubmit)='Update()'>
      <input type="text" formControlName="id" hidden>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="code">{{'PARAM.BRANCH_ID' | translate}}:</label>
        <div class="col-sm-6">  
          <input type="text" id='code' class="form-control" formControlName="code">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">{{'PARAM.BRANCH_NAME' | translate}}: </label>
        <div class="col-sm-6">
          <input type="text" id='name' class="form-control" formControlName="name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="perimeter">{{'PARAM.PERIMETER' | translate}}:</label>
       <div class="col-sm-6">
         <input type="text" id='perimeter' class="form-control" formControlName="perimeter">
       </div>
      </div>
      <div formGroupName="userMGM">
        <input type="text" formControlName="id" hidden>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="userMGM">{{'PARAM.EMAIL_GM' | translate}}</label>
         <div class="col-sm-6">
           <input type="email" id='userMGM' class="form-control" formControlName="username">
         </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="firstNameGM">{{'HEADER.FIRSTNAME' | translate}}</label>
         <div class="col-sm-6">
           <input type="texte" id='firstNameMGM' class="form-control" formControlName="firstName">
         </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="lastNameGM">{{'HEADER.LASTNAME' | translate}}</label>
          <div class="col-sm-6">
            <input type="texte" id='lastNameMGM' class="form-control" formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="save">
        <button type="submit" class="btn btn-Save" [disabled]="branchForm.invalid">{{this.branch?.id ? 'edit' :
          'Save'}}</button>
      </div>
      <!-- <div class="form-group row">
          <select [(ngModel)]="selectedPerimeter">
            <option [ngValue]="null" disabled>{{'PARAM.PERIMETER' | translate}}</option>
            <option *ngFor="let perimeter of perimeters" [ngValue]="perimeter" formControlName="perimeter">
              {{perimeter}}
            </option>
          </select>
        </div> -->
    </form>


  </div>
</div>