<p>update works!</p>
<!-- Form edit user  -->
<!-- <div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Update user</h3>
        </div>
        <div class="card-body">
            <form  [formGroup]="UserForm" (ngSubmit)='Update()'>
                <div class="form-g roup">
                    <label for="FirstName">FirstName:</label>
                    <input type="text" id='FirstName' class="form-control" formControlName="FirstName">
                </div>
                <div class="form-group">
                    <label for="LastName">LastName:</label>
                    <input type="text" id='LastName' class="form-control" formControlName="LastName">
                </div>
                <button  type="submit" class="btn btn-danger">Edit</button>
            </form>
        </div>
    </div>
</div> -->
<!-- fin du formulaire edit user -->

<!-- Form edit company  -->
<!-- <div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Update company</h3>
        </div>
        <div class="card-body">
            <form  [formGroup]="companyForm" (ngSubmit)='Update()'>
                <div class="form-g roup">
                    <label for="CompanyName">CompanyName:</label>
                    <input type="text" id='CompanyName' class="form-control" formControlName="CompanyName">
                </div> -->
                <!-- <div class="form-group">
                    <label for="AjouterAttribut">AjouterAttribut:</label>
                    <input type="text" id='AjouterAttribut' class="form-control" formControlName="AjouterAttribut">
                </div> -->
                <!-- <button  type="submit" class="btn btn-danger">Edit</button>
            </form>
        </div>
    </div>
</div> -->
<!-- fin du formulaire edit company -->
