<div class="card">  
  <div class="card-body">
    <h4 *ngIf="this.param?.id"> {{'PARAM.UPDATE_PARAMETER' | translate}}</h4>
    <h4 *ngIf="this.param?.id == null"> Create new parameter</h4>
    <form [formGroup]="paramForm" (ngSubmit)='Update()'>
      <input type="text" formControlName="id" hidden>
      <div class="branch">
         <h6>{{'PARAM.BRANCH_ID' | translate}}: {{branch?.code}}</h6>
        <h6>{{'PARAM.BRANCH_NAME' | translate}}: {{branch?.name}}</h6>
      </div>
      <div class="form-group" *ngIf="this.param?.id readonly">
        <label for="megaCode">Hotel MegaCode:</label>
        <input type="text" id='megaCode' class="form-control" formControlName="megaCode" readonly>
      </div>
      <div class="form-group" *ngIf="this.param?.id == null">
        <label for="megaCode">Hotel MegaCode:</label>
        <input type="text" id='megaCode' class="form-control" formControlName="megaCode">
      </div>
      <div class="form-group">
        <label for="name">{{'HOTELNAME' | translate}}:</label>
        <input type="text" id='name' class="form-control" formControlName="name">
      </div>
      <div formGroupName="userGM">
        <input type="text" formControlName="id" hidden>
        <div class="form-group">
          <label class="form-label" for="userGM">{{'PARAM.EMAIL_GM' | translate}}</label>
          <input type="email" id='userGM' class="form-control" formControlName="username">
        </div>
        <div class="form-group">
          <label class="form-label" for="firstNameGM">{{'HEADER.FIRSTNAME' | translate}}</label>
          <input type="email" id='firstNameGM' class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
          <label class="form-label" for="lastNameGM">{{'HEADER.LASTNAME' | translate}}</label>
          <input type="email" id='lastNameGM' class="form-control" formControlName="lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="userMGM">{{'PARAM.EMAIL_GM' | translate}} N+1</label>
        <input type="email" id='userMGM' class="form-control" formControlName="userMGM">
      </div>
      <div class="save">
        <button type="submit" class="btn bnt-Save" [disabled]="paramForm.invalid">{{this.param?.id ? 'edit' : 'add'}}</button>
      </div>
    </form>
  </div>
</div>