<div class="container mt-4">

  <div class="d-flex justify-content-between">
    <button (click)="back()" class="button button-back">{{'BUTTONS.BACK' | translate}}</button>
    <h1>{{"layouts.compagny-update.title-" + (paramForm.get('id')?.value ? "edit" : "add") | translate}}</h1>
    <img type="button" class="cursor-pointer" src="">
  </div>

  <hr>

  <h4>{{"layouts.commons.branch" | translate}}</h4>
  <div>
    {{"layouts.commons.branch-code" | translate}} <span class="text-bold">{{branch?.code}}</span> - {{"layouts.commons.branch-name" | translate}} <span class="text-bold">{{branch?.name}}</span>
  </div>
  <hr>
  <form [formGroup]="paramForm" (ngSubmit)="Update()">
    <input type="text" formControlName="id" hidden>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="megaCode">{{"layouts.commons.formulaire.megacode" | translate}} *</label>
      <div class="col-sm-4">
        <input type="text" id='megaCode' class="form-control" formControlName="megaCode" [readOnly]="param?.id">
        <div *ngIf="paramForm.get('megaCode')?.invalid && (paramForm.get('megaCode')?.dirty || paramForm.get('megaCode')?.touched)">
          <p class="validation-error" *ngIf="paramForm.get('megaCode')?.errors!['required']">
            {{"exception.validations.required" | translate}}
          </p>
        </div>
        <div *ngIf="errorUniqueMegacode">
          <p class="validation-error">
            {{"exception.error." + errorUniqueMegacode | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="name">{{"layouts.commons.formulaire.name" | translate}} *</label>
      <div class="col-sm-4">
        <input type="text" id='name' class="form-control" formControlName="name">
        <div *ngIf="paramForm.get('name')?.invalid && (paramForm.get('name')?.dirty || paramForm.get('name')?.touched)">
          <p class="validation-error" *ngIf="paramForm.get('name')?.errors!['required']">
            {{"exception.validations.required" | translate}}
          </p>
        </div>
      </div>
    </div>

    <div class="form-group row" >
      <label class="col-sm-4 col-form-label" for="category">{{"layouts.commons.formulaire.category" | translate}} *</label>
      <div class="col-sm-4">
        <select [compareWith]="compareObjects" class="form-control" formControlName="category"
                id="category" name="category">
          <option *ngIf="!paramForm.get('category')?.value" [value]="null">Select category</option>
          <option *ngFor="let category of categories; trackBy: trackById"
                  [ngValue]="category">{{category.name}}</option>
        </select>
        <div *ngIf="paramForm.get('category')?.invalid && (paramForm.get('category')?.dirty || paramForm.get('category')?.touched)">
          <p class="validation-error" *ngIf="paramForm.get('category')?.errors!['required']">
            {{"exception.validations.required" | translate}}
          </p>
        </div>
      </div>
    </div>

    <div formGroupName="userGM">
      <input type="text" formControlName="id" hidden>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="firstNameGM">{{"layouts.commons.formulaire.firstname" | translate}} {{"layouts.commons.formulaire.generalManager" | translate | lowercase}} *</label>
        <div class="col-sm-4">
          <input type="email" id='firstNameGM' class="form-control" formControlName="firstName">
          <div *ngIf="paramForm.get('userGM.firstName')?.invalid && (paramForm.get('userGM.firstName')?.dirty || paramForm.get('userGM.firstName')?.touched)">
            <p class="validation-error" *ngIf="paramForm.get('userGM.firstName')?.errors!['required']">
              {{"exception.validations.required" | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="lastNameGM">{{"layouts.commons.formulaire.lastname" | translate}} {{"layouts.commons.formulaire.generalManager" | translate | lowercase}} *</label>
        <div class="col-sm-4">
          <input type="email" id='lastNameGM' class="form-control" formControlName="lastName">
          <div *ngIf="paramForm.get('userGM.lastName')?.invalid && (paramForm.get('userGM.lastName')?.dirty || paramForm.get('userGM.lastName')?.touched)">
            <p class="validation-error" *ngIf="paramForm.get('userGM.lastName')?.errors!['required']">
              {{"exception.validations.required" | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="userGM">{{"layouts.commons.formulaire.mail" | translate}} {{"layouts.commons.formulaire.generalManager" | translate | lowercase}} *</label>
        <div class="col-sm-4">
          <input type="email" id='userGM' class="form-control" formControlName="username">
          <div *ngIf="paramForm.get('userGM.username')?.invalid && (paramForm.get('userGM.username')?.dirty || paramForm.get('userGM.username')?.touched)">
            <p class="validation-error" *ngIf="paramForm.get('userGM.username')?.errors!['required']">
              {{"exception.validations.required" | translate}}
            </p>
            <p class="validation-error" *ngIf="paramForm.get('userGM.username')?.errors!['email']">
              {{"exception.validations.invalid" | translate}}
            </p>
          </div>
          <div *ngIf="errorUniqueMail">
            <p class="validation-error">
              {{"exception.error." + errorUniqueMail | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="generalManagerN1Mail">{{"layouts.commons.formulaire.mail" | translate}} N+1 *</label>
      <div class="col-sm-4">
        <input type="email" id="generalManagerN1Mail" class="form-control" formControlName="generalManagerN1Mail">
        <div *ngIf="paramForm.get('generalManagerN1Mail')?.invalid && (paramForm.get('generalManagerN1Mail')?.dirty || paramForm.get('generalManagerN1Mail')?.touched)">
          <p class="validation-error" *ngIf="paramForm.get('generalManagerN1Mail')?.errors!['required']">
            {{"exception.validations.required" | translate}}
          </p>
          <p class="validation-error" *ngIf="paramForm.get('generalManagerN1Mail')?.errors!['email']">
            {{"exception.validations.invalid" | translate}}
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center m-4">
      <button class="button button-save w-25" type="submit" [disabled]="paramForm.invalid">{{"layouts.commons.buttons." + (paramForm.get('id')?.value ? "edit" : "save") | translate}}</button>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      {{"exception.error." + error | translate}}
    </div>
  </form>
</div>
