/* You can add global styles to this file, and also import other style files */

.validation-error {
  color: #d9534f;
  margin-bottom: 0;
  font-size: small;
}


.table{
  display: table;

  thead{
    background-color: black;
    color: white;
  }

  .data{
    border-style: none;
    border-bottom-color:white ;
    th,td{
      padding: 0.5rem;
    }
    tr{
      background-color: #C5C5C5;
    }
    .btn-edit{
      background-color:#F0AB29 ;
    }

    .btn-delete{
      background-color: #E38D9B;
    }
  }
}

.text-right {
  text-align: right;
}

.button {
  //text-transform: uppercase;
  height: 44px;
  letter-spacing: 0.05em;
  box-shadow: none !important;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
}

.button:disabled {
  color: #fff;
  cursor: not-allowed;
  background-color: gray;
}

.btn_searchbar {
  width: 50%;
}

.button-ok {
  width: 40px;
  height: 40px;
  padding-right: 0;
  padding-left: 0;
  background-color: #3f88c5;
  color: white;
  margin-left: 20px;
}

.button-back {
  background-color: #E9C4A2;
}

.button-save {
  background-color: #B9E9A2;
  border-radius: 10px;
}

.button-red {
  background-color: #E38D9B;
}
.button-add{
  background-color: #9BE69F;
}

.text-bold {
  font-weight: bold;
}

form .row {
  margin-bottom: 10px;
}

label.form-label {
  font-weight: 400;
  font-size: 14px;
  color: #003B5C4C;
  margin-bottom: 5px;
}

select.form-control::placeholder,
input.form-control::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  //color: #968c83;
}

select,
input {
  font-weight: 500;
  font-size: 14px;
  //color: ;
  border: 1px solid #003B5C4C;
  border-radius: 5px;
  height: 45px;
  padding: 8px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
  -moz-box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
  box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
}

select:focus,
input:focus {
  border: 1px solid #003B5C4C;
  color: #003b5c;
  -webkit-box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
  -moz-box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
  box-shadow: inset 0 0 14px -8px rgba(0, 59, 92, 0.3);
}
