<div class="container login my-4">
  <div class="row">
    <div class="col-md-10 col-sm-12 offset-md-1 offset-sm-0">
      <div class="card" *ngIf="success !== 'OK'">
        <h1 class="text-center">{{"layouts.reset-init.title" | translate}}</h1>
        <div class="card-body">
          <form (ngSubmit)="requestReset()" [formGroup]="resetRequestForm!">

            <div class="inputs">
              <div class="form-group col-md-8">
                <div class="form-outline">
                  <label class="form-label" for="email">{{"layouts.reset-init.login" | translate}}</label>
                  <input [ngClass]="{'is-invalid': resetRequestForm?.get('email')?.invalid && (resetRequestForm?.get('email')?.dirty || resetRequestForm?.get('email')?.touched) }"
                         type="email" class="form-control" id="email" name="email"
                         formControlName="email">
                  <div *ngIf="resetRequestForm?.get('email')?.invalid && (resetRequestForm?.get('email')?.dirty || resetRequestForm?.get('email')?.touched)">
                    <p class="validation-error"
                       *ngIf="resetRequestForm?.get('email')?.errors!['required']">
                      {{"exception.validations.required" | translate}}
                    </p>
                    <p class="validation-error"
                       *ngIf="resetRequestForm?.get('email')?.errors!['email']">
                      {{"exception.validations.invalid" | translate}}
                    </p>
                    <p class="validation-error"
                       *ngIf="resetRequestForm?.get('email')?.errors!['minlength']! && !resetRequestForm?.get('email')?.errors!['email']!">
                      {{"exception.validations.minMail" | translate}}
                    </p>
                    <p class="validation-error"
                       *ngIf="resetRequestForm?.get('email')?.errors!['maxlength'] && !resetRequestForm?.get('email')?.errors!['email']">
                      {{"exception.validations.maxMail" | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button [disabled]="resetRequestForm?.invalid || loading" class="btn btn-primary col-md-2" type="submit">{{"layouts.reset-init.reset" | translate}}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="alert alert-info" *ngIf="!success">
        <p>{{"layouts.reset-init.error.error1" | translate}}</p>
      </div>
      <div class="alert alert-success" *ngIf="success === 'OK'">
        <p>{{"layouts.reset-init.error.error2" | translate}}</p>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        {{"exception.error." + error | translate}}
      </div>
    </div>
  </div>
</div>
