<!-- Vue General Manager -->
<div *ngIf="role === 'ROLE_GM'" class="container-fluid">

  <div class="contenue">
    <h5>{{'TITLE' | translate}}</h5>

    <div>{{'DESCRIPTION' | translate}}</div>
    <div>
      <img src="./assets/CompositonWorkflow.png" style="width:450px;height:225px;">
    </div>

    <h6>{{'CONDITIONS.TITLE2' | translate}}</h6>
    <div>
      <ul>
        <li>{{'CONDITIONS.RULE1' | translate}}</li>
        <li>{{'CONDITIONS.RULE2' | translate}}</li>
        <li>{{'CONDITIONS.RULE3' | translate}}</li>
      </ul>

    </div>
  </div>
  <div class="listeDeroulante" >
    <p style="width: 85%;">Please use the bar below to select the hotel you want to manage users for</p>
    <select [(ngModel)]="selectedCompanie">
      <option [ngValue]="undefined" [disabled]="true">{{'SELECTHOTEL' | translate}}</option>
      <option *ngFor="let compagnie of companies" [ngValue]="compagnie">
        {{compagnie.megaCode}} - {{compagnie.name}}
      </option>
    </select>

    <button class="button button-ok" [disabled]="!selectedCompanie" [routerLink]="['/compagny-param', selectedCompanie?.id]">GO</button>
  </div>
</div>


<!-- Vue Company Admin -->
<div class="container-fluid2" style="margin: auto;width: 85%;" *ngIf="role === 'ROLE_COMPANYADMIN'">
    <div class="contenue">
        <h5>{{'TITLE_CA' | translate}}</h5>
<br>
        <div>{{'DESCRIPTION_CA' | translate}}</div>
        <br>
        <div>{{'CONDITION_CA' | translate}}</div>
    </div>
    <br>
    <p>{{'CONDITIONS.RULE4' | translate}}</p>
    <div  class="listeDeroulante2">
        <select [(ngModel)]="selectedBranch">
          <option [ngValue]="undefined" [disabled]="true">{{'SELECTBRANCH' | translate}}</option>
          <option *ngFor="let branche of branches" [ngValue]="branche">
                {{branche.code}} - {{branche.name}}
            </option>
        </select>
        <button class="button button-ok" [disabled]="!selectedBranch" [routerLink]="['/branch', selectedBranch?.id]">GO</button>
    </div>
</div>


<!-- Vue Master Admin -->
<ng-container *ngIf="role === 'ROLE_MASTERADMIN'">

  <div class="container-fluid">
    <div class="contenue">
      <h5 class="title_ma">{{'TITLE_MA' | translate}}</h5>
    </div>
    <div class="form-group col-md-8" id="searchBar">
      <div class="btn_searchbar">
        <input (keyup)="Search($event)" [(ngModel)]="searchTerm" class="form-control" placeholder="{{'BUTTONS.SEARCH_CODE' | translate}}"
               type="text">
        <div class="container">
          <button [routerLink]="['/create/branch']" class="btn add_Btn">{{'BUTTONS.ADDBRANCH' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div style="margin: auto; width: 90%;">
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'PARAM.PERIMETER' | translate}}</th>
            <th scope="col">{{'PARAM.BRANCH_ID' | translate}}</th>
            <th scope="col">{{'PARAM.BRANCH_NAME' | translate}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="data" >
          <tr *ngFor="let branche of allBranches | filter: searchKey:'code'">
            <td>{{branche.perimeter}}</td>
            <td>{{branche.code}}</td>
            <td>{{branche.name}}</td>
            <td><button [routerLink]="['branch', branche?.id, 'edit-manager']" class="btn">{{'BUTTONS.EDITMANAGERS' | translate}}</button></td>
            <td><button [routerLink]="['branch', branche?.id, 'edit-approval_limit']" class="btn">{{'BUTTONS.EDIT_APPROVAL_LIMIT' | translate}}</button></td>
            <td><button [routerLink]="['branch', branche?.id, 'access']" class="btn">{{'BUTTONS.EDIT_ACCESS' | translate}}</button></td>
          </tr>
        </tbody>
      </table>
      </div>

</ng-container>

