<div class="container mt-4">

  <div class="d-flex justify-content-between">
    <button (click)="back()" class="button button-back">{{'BUTTONS.BACK' | translate}}</button>
    <h1>{{"layouts.cost-center.title" | translate}}</h1>
    <button [routerLink]="['cost-center/add']" class="button button-add">{{"layouts.cost-center.buttons.add-cost-center" | translate}}</button>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h4>{{"layouts.commons.compagny" | translate}}</h4>
      <div>
        {{"layouts.commons.compagny-mega-code" | translate}} <span class="text-bold">{{company?.megaCode}}</span> - {{"layouts.commons.compagny-name" | translate}} <span class="text-bold">{{company?.name}}</span>
      </div>
    </div>
    <div class="col m-auto">
      <div class="btn_searchbar w-100">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)"
               placeholder="{{'layouts.cost-center.placeholder' | translate}}">
      </div>
    </div>
  </div>

  <hr>

  <table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>{{"layouts.commons.formulaire.code" | translate}}</th>
      <th>{{"layouts.commons.formulaire.lastname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.mail" | translate}}</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let data of costcenters | filter: searchKey: 'code' " class="data" style="background-color: #C5C5C5;">
    <tr>
      <td>{{data.code}}</td>
      <td>{{data.label}}</td>
      <td>{{data.owner}}</td>
      <td class="text-right">
        <button [routerLink]="['cost-center', data?.id, 'edit']" class="btn btn-edit">{{"layouts.commons.buttons.edit" |translate}}</button>
      </td>
      <td class="text-right">
        <button (click)="deleteCc(data.id)" class="btn btn-delete">{{"layouts.commons.buttons.delete" |translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
