.col-sm-2{
    margin: 1rem;
    margin-left: 3rem;
}
#firstNameMGM, #lastNameMGM, #email{
    box-shadow: none;
}

.categories{
    background-color: gray;
    p{
        padding-top: 0.5rem;
        color: white;
    }
}
.form-group{
    display: flex;
    align-items: center;
}
.btns{
    .btnBack{
        border: none;
        border-radius: 2rem;
        width: 6rem;
        background-color: #E9C4A2;
        margin: 0.5rem;
        margin-left: 2rem;
    }
}

