
<!-- vue SE -->
<div class="container mt-4" *ngIf="companie?.branch?.perimeter == 'Southern Europe'">

  <div class="d-flex justify-content-between">
    <button (click)="back()" class="button button-back">{{'BUTTONS.BACK' | translate}}</button>
    <h1>{{"layouts.overview-list.title" | translate}}</h1>
    <img type="button" class="cursor-pointer" src="">
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h4>{{"layouts.commons.compagny" | translate}}</h4>
      <div>
        {{"layouts.commons.compagny-mega-code" | translate}} <span class="text-bold">{{companie?.megaCode}}</span> - {{"layouts.commons.compagny-name" | translate}} <span class="text-bold">{{companie?.name}}</span>
      </div>
    </div>
    <div class="col m-auto">
      <div class="btn_searchbar w-100">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)"
               placeholder="{{'layouts.overview-list.placeholderSe' | translate}}">
      </div>
    </div>
  </div>

  <hr>

  <table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>{{"layouts.commons.formulaire.dispatcher" | translate}}</th>
      <th>{{"layouts.commons.formulaire.firstname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.lastname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.mail" | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="data" [formGroup]="userForm">
    <tr>
      <td>
        <input type="radio" id="radioCheck1" name="dispatcher"
                             [value]="userGM?.username === companie?.dispacherMail"
                             [checked]="userGM?.username === companie?.dispacherMail" [disabled]="isLoading"
                             (click)="updateDispacher(userGM?.username!, false)">
      </td>
      <td>{{userGM?.firstName}}</td>
      <td>{{userGM?.lastName}}</td>
      <td>{{userGM?.username}}</td>
      <td class="text-right">
        <button [routerLink]="['user-gm', userGM?.id, 'edit']" class="btn btn-edit" >{{"layouts.commons.buttons.edit" |translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end mb-3">
    <button [routerLink]="['staff/add']" class="button button-save">{{'BUTTONS.ADDUSER' | translate}}</button>
  </div>

  <table class="table table-responsive" *ngIf="staffs">
    <thead class="thead-dark">
    <tr>
      <th>{{"layouts.commons.formulaire.dispatcher" | translate}}</th>
      <th>{{"layouts.commons.formulaire.firstname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.lastname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.mail" | translate}}</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody class="data" [formGroup]="userForm" *ngFor="let data of staffs | filter: searchKey:'mail'">
    <tr>
      <td>
        <input type="radio" id="radioCheck" name="dispatcher" [value]="data?.mail === companie?.dispacherMail"
               [checked]="data?.mail === companie?.dispacherMail" [disabled]="isLoading"
               (click)="updateDispacher(data?.mail!, true)">
      </td>
      <td>{{data?.firstName}}</td>
      <td>{{data?.lastName}}</td>
      <td>{{data?.mail}}</td>
      <td class="text-right">
        <button [routerLink]="['staff', data?.id, 'edit']" class="btn btn-edit">{{"layouts.commons.buttons.edit" |translate}}</button>
      </td>
      <td class="text-right">
        <button [disabled]="data?.mail === companie?.dispacherMail" (click)="deleteStaff(data?.id)"
                class="btn btn-delete">{{"layouts.commons.buttons.delete" |translate}}</button></td>
    </tr>
    </tbody>
  </table>
</div>



<!-- vue NE -->
<div class="container mt-4" *ngIf="companie?.branch?.perimeter == 'Northern Europe'">

  <div class="d-flex justify-content-between">
    <button (click)="back()" class="button button-back">{{'BUTTONS.BACK' | translate}}</button>
    <h1>{{"layouts.overview-list.title" | translate}}</h1>
    <div class="">
      <button class="button button-red" [routerLink]="'listErrorCostCenter'">Exceptions</button>
      <button class="button button-add" (click)="save()">{{"layouts.commons.buttons.save" | translate}}</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h4>{{"layouts.commons.compagny" | translate}}</h4>
      <div>
        {{"layouts.commons.compagny-mega-code" | translate}} <span class="text-bold">{{companie?.megaCode}}</span> - {{"layouts.commons.compagny-name" | translate}} <span class="text-bold">{{companie?.name}}</span>
      </div>
    </div>
    <div class="col m-auto">
      <div class="btn_searchbar w-100">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="Search($event)"
               placeholder="{{'layouts.overview-list.placeholderNe' | translate}}">
      </div>
    </div>
  </div>

  <hr>

  <h6>{{'layouts.overview-list.general-manager-label' | translate}}</h6>
  <table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>{{"layouts.commons.formulaire.firstname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.lastname" | translate}}</th>
      <th>{{"layouts.commons.formulaire.mail" | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="data" [formGroup]="userForm">
    <tr>
      <td>{{userGM?.firstName}}</td>
      <td>{{userGM?.lastName}}</td>
      <td>{{userGM?.username}}</td>
      <td class="text-right">
        <button [routerLink]="['user-gm', userGM?.id, 'edit']" class="btn btn-edit">{{"layouts.commons.buttons.edit" |translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h6>{{'layouts.overview-list.cost-center-label' | translate}}</h6>
  <table class="table table-responsive" *ngIf="staffs">
    <thead class="thead-dark">
    <tr>
      <th>{{"layouts.commons.formulaire.code" | translate}}</th>
      <th>{{"layouts.commons.formulaire.name1" | translate}}</th>
      <th>{{"layouts.commons.formulaire.mail" | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="data" [formGroup]="costCenterForm" *ngFor="let data of costcenters | filter: searchKey:'code'">
    <tr *ngIf="data?.code != null || data?.label != null">
      <td>{{data?.code}}</td>
      <td>{{data?.label}}</td>
      <td>{{data?.owner}}</td>
      <td class="text-right">
        <button [routerLink]="['costCenter', data?.id, 'edit']" class="btn btn-edit">{{"layouts.commons.buttons.edit" |translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
